img{
	height:200px;
	width:200px;
}

h1{
	font-family:"American Typewriter";
	color:red;
	size:50px;
}

li{
    font-size:20px;
    font-family:"Andale Mono";
    font-weight:lighter;
    padding:10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav{
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
    font-family:"Reprise Stamp Std";
    text-decoration: none;
}

li a:hover {
  background-color: #111;
  text-decoration:underline;
}